#calendar {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.calendar-item {
    max-width: 300px;
    display: inline-block;
    margin: 5px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.calendar-item:hover {
    transform: scale(1.05);
}

.calendar-item-background {
    display: flex;
}

.calendar-item-background img {
    width: 100%;
}

.calendar-item-info {
    position: absolute;
    width: calc(100% - 20px);
    padding: 10px;
    z-index: 10;
    bottom: -100%;
    background: var(--hungbok);
    color: #222222;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.calendar-item a:hover .calendar-item-info {
    bottom: 0px;
}

.calendar-item-title {
    text-align: left;
}

.calendar-item-title p {
    margin: 0;
    line-height: 24px;
}

.calendar-item-date {
    text-align: right;
}

.calendar-item-date p {
    display: inline-block;
    margin: 0;
    line-height: 21px;
}

.calendar-item-platform {
    text-align: right;
}

.calendar-item-platform img {
    max-width: 20px;
    max-height: 20px;
    width: auto;
    height: auto;
    margin: 2.5px;
    vertical-align: middle;
    top: 0;
    left: 0;
    transform: translate(0px, 0px);
    position: relative;
    filter: brightness(0);
    opacity: 0.25;
}

.pc > img.display,
.ps > img.playstation,
.xb > img.xbox,
.ns > img.nintendo,
.mo > img.phone,
.cl > img.cloud {
    opacity: 1;
}